<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="QuestionContactsMapper">
    <!--表名 -->
    <sql id="tableName">
        lex_question_contacts
    </sql>

    <!-- 字段 -->
    <sql id="Field">
        question_contacts_id,
        question_id,
        user_id,
        create_time
    </sql>

    <!-- 字段值 -->
    <sql id="FieldValue">
        #{question_contacts_id},
        #{question_id},
        #{user_id},
        #{picreate_timectures_id}
    </sql>

    <insert id="save" parameterType="pd">
        insert INTO 
        <include refid="tableName"></include>
        (
        <include refid="Field"></include>
        ) values (
        <include refid="FieldValue"></include>
        )
    </insert>


</mapper>