<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PicturesMapper">
	
	<!--表名 -->
	<sql id="tableName">
		TB_PICTURES
	</sql>
	
	<!--表名 -->
	<sql id="reftableName">
		IMAGE_REF
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		TITLE,	
		NAME,	
		PATH,	
		CREATETIME,	
		MASTER_ID,	
		BZ,	
		PICTURES_ID,
		FILE_TYPE,
		SUFFIX_NAME
	</sql>
	
	<!-- 字段 -->
	<sql id="refField">
		ID,
		SUB_ID,
		DISCRIBE,
		PATH,
		CREATE_TIME,
		MODIFY_TIME,
		CREATER,
		UPDATER

	</sql>
	<!-- 字段值 -->
	<sql id="refFieldValue">
		#{ID},
		#{SUB_ID},
		#{DISCRIBE},
		#{PATH},
		NOW(),
		NOW(),
		'WEBSYS',
		'WEBSYS'
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{TITLE},	
		#{NAME},	
		#{PATH},	
		#{CREATETIME},	
		#{MASTER_ID},	
		#{BZ},	
		#{PICTURES_ID},
		#{FILE_TYPE},
		#{SUFFIX_NAME}
	</sql>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
			a.TITLE,	
			a.NAME,	
			a.PATH,	
			a.CREATETIME,	
			a.MASTER_ID,	
			a.BZ,	
			a.PICTURES_ID
		from 
			<include refid="tableName"></include> a
		where 1 = 1
		<if test="pd.KEYW != null and pd.KEYW != ''"><!-- 关键词检索 -->
			and
				(
				 a.TITLE LIKE CONCAT(CONCAT('%', #{pd.KEYW}),'%')
				 or 
				 a.NAME LIKE CONCAT(CONCAT('%', #{pd.KEYW}),'%') 
				 or
				 a.PICTURES_ID LIKE CONCAT(CONCAT('%', #{pd.KEYW}),'%')
				 or
				 a.MASTER_ID LIKE CONCAT(CONCAT('%', #{pd.KEYW}),'%')
				)
		</if>
		<if test="pd.flag != null and pd.flag != ''"><!-- 关键词检索 -->
			and a.FILE_TYPE = #{pd.flag}
		</if>
		order by CREATETIME desc
	</select>

	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into <include refid="tableName"></include>(
			<include refid="Field"></include>
		) values (
			<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 新增-->
	<insert id="refsave" parameterType="pd">
		insert into <include refid="reftableName"></include>(
			<include refid="refField"></include>
		) 
		SELECT 
		#{ID} AS ID,
		IFNULL(MAX(SUB_ID),0)+1 AS SUB_ID,
		#{DISCRIBE} AS DISCRIBE,
		#{PATH} AS PATH,
		NOW() AS CREATE_TIME,
		NOW() AS MODIFY_TIME,
		'WEBSYS' AS CREATER,
		'WEBSYS' AS UPDATER
		FROM <include refid="reftableName"></include>
		WHERE ID = #{ID}
	</insert>
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from <include refid="tableName"></include>
		where 
			PICTURES_ID = #{PICTURES_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  <include refid="tableName"></include>
			set 
				TITLE = #{TITLE},
				PATH = #{PATH},
				<if test="NAME != null and NAME != ''">
				NAME = #{NAME},
				</if>
				MASTER_ID = #{MASTER_ID},
				BZ = #{BZ},
				<if test="FILE_TYPE != null and FILE_TYPE != ''">
					NAME = #{FILE_TYPE},
				</if>
				PICTURES_ID = PICTURES_ID
			where 
				PICTURES_ID = #{PICTURES_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			<include refid="Field"></include>
		from 
			<include refid="tableName"></include>
		where 
			PICTURES_ID = #{PICTURES_ID}
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from <include refid="tableName"></include>
		where 
			PICTURES_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<!-- 批量获取 -->
	<select id="getAllById" parameterType="String" resultType="pd">
		select PATH from <include refid="tableName"></include>
		where 
			PICTURES_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</select>
	<!-- 批量获取 -->
	<select id="getRefListById" parameterType="String" resultType="pd">
		select ID,SUB_ID,DISCRIBE,PATH
 		from <include refid="reftableName"></include>
		where 
			ID = #{item}
	</select>
	<!-- 单条获取 -->
	<select id="getRefById" parameterType="pd" resultType="pd">
		select ID,SUB_ID,DISCRIBE,PATH
 		from <include refid="reftableName"></include>
		where 
			ID = #{ID} AND SUB_ID = #{SUB_ID}
	</select>
	<delete id="delrefTp" parameterType="pd">
		delete from <include refid="reftableName"></include>
		where 
			ID = #{ID} AND SUB_ID = #{SUB_ID}
	</delete>
	<!-- 删除图片 -->
	<update id="delTp" parameterType="pd">
		update  <include refid="tableName"></include>
			set 
				PATH			= ''
			where 
				PICTURES_ID = #{PICTURES_ID}
	</update>
	
	<!-- fh QQ313596790(青苔) -->
</mapper>