<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="LexUserMapper">
    <!--表名 -->
    <sql id="tableName">
        lex_app_user
    </sql>

    <!-- 字段 -->
    <sql id="Field">
        phone,
        password,
        name,
        age,
        sex,
        BZ,
        PICTURES_ID
    </sql>

    <!-- 字段值 -->
    <sql id="FieldValue">
        #{TITLE},
        #{NAME},
        #{PATH},
        #{CREATETIME},
        #{MASTER_ID},
        #{BZ},
        #{PICTURES_ID}
    </sql>
    <!--
    <sql id="userColumns">USERNAME,NAME,PASSWORD,RIGHTS,STATUS,ROLE_ID</sql>
    <resultMap type="User" id="userAndRoleResultMap">
        <id column="USER_ID" property="USER_ID"/>
        <result column="USERNAME" property="USERNAME"/>
        <result column="PASSWORD" property="PASSWORD"/>
        <result column="NAME" property="NAME"/>
        <result column="RIGHTS" property="RIGHTS"/>
        <result column="LAST_LOGIN" property="LAST_LOGIN"/>
        <result column="IP" property="IP"/>
        <result column="STATUS" property="STATUS"/>
        <result column="SKIN" property="SKIN"/>
        <association property="role" column="ROLE_ID" javaType="Role">
            <id column="ROLE_ID" property="ROLE_ID"/>
            <result column="ROLE_NAME" property="ROLE_NAME"/>
            <result column="ROLE_RIGHTS" property="RIGHTS"/>
        </association>
    </resultMap>
    <resultMap type="User" id="userResultMap">
        <id column="USER_ID" property="USER_ID"/>
        <result column="USERNAME" property="USERNAME"/>
        <result column="PASSWORD" property="PASSWORD"/>
        <result column="NAME" property="NAME"/>
        <result column="RIGHTS" property="RIGHTS"/>
        <result column="LAST_LOGIN" property="LAST_LOGIN"/>
        <result column="IP" property="IP"/>
        <result column="STATUS" property="STATUS"/>
        <result column="ROLE_ID" property="ROLE_ID"/>
        <result column="SKIN" property="SKIN"/>
    </resultMap>
    -->
    <!-- 判断用户名和密码 -->
    <select id="getUserInfoByPass" parameterType="pd" resultType="pd">
        select
        id,
        phone,
        lex_app_user.name,
        age,
        sex,
        head_pic,
        tb_pictures.PATH as head_pic_path
        from lex_app_user LEFT JOIN tb_pictures on lex_app_user.head_pic = tb_pictures.PICTURES_ID
        where 1=1
        <if test="phone!=null and password!=null">
            and lex_app_user.phone = #{phone} and lex_app_user.password=#{password}
        </if>
    </select>

    <!-- 注册用户 -->
    <insert id="register" parameterType="pd" >
        insert into lex_app_user(
        phone,
        password,
        create_time,
        create_user
        ) values (
        #{phone},
        #{password},
        NOW(),
        #{create_user}
        )
    </insert>

    <!-- 判断用户是否存在 -->
    <select id="isExist" parameterType="pd" resultType="pd">
        select * from lex_app_user
        where
        phone = #{phone}
    </select>


    <!-- 修改 -->
    <update id="edit" parameterType="pd">
        update  lex_app_user
        set
        <if test="password!= null and password != ''">
            password = #{password},
        </if>
        <if test="name!= null and name != ''">
            name = #{name},
        </if>
        <if test="age!= null and age != ''">
            age = #{age},

        </if>
        <if test="sex!= null and sex != ''">
            sex = #{sex},
        </if>
        <if test="head_pic!= null and head_pic != ''">
            head_pic = #{head_pic},

        </if>
        <if test="qrcode_pic!= null and qrcode_pic != ''">
            qrcode_pic = #{qrcode_pic},

        </if>
        <if test="signature!= null and signature != ''">
            signature = #{signature},

        </if>
        <if test="area_id!= null and area_id != ''">
            area_id = #{area_id},
        </if>
        <if test="stu_tea_count!= null and stu_tea_count != ''">
            stu_tea_count = #{stu_tea_count},
        </if>
        <if test="update_user!= null and update_user != ''">
            update_user = #{update_user},
        </if>
        <if test="validate_code!= null and validate_code != ''">
            validate_code = #{validate_code},
        </if>
        update_time = NOW()
        where
        phone = #{phone}
        <if test="validate_code_where!= null and validate_code_where != ''">
           AND validate_code = #{validate_code_where}
        </if>
        <if test="id!= null and id != ''">
            AND id = #{id}
        </if>
    </update>

    <!-- 修改 -->
    <update id="editWork" parameterType="pd">
    update  lex_work_history
    set
    <if test="company_name!= null and company_name != ''">
        company_name = #{company_name},
    </if>
    <if test="start_time!= null and start_time != ''">
        start_time = #{start_time},
    </if>
        <if test="end_time!= null and end_time != ''">
            end_time = #{end_time},
        </if>

        <if test="company_id!= null and company_id != ''">
            company_id = #{company_id}
        </if>
    </update>


    <select id="workList" parameterType="pd" resultType="pd">
        select * from lex_work_history
        where
        app_user_id = #{app_user_id}
    </select>

    <!-- 保存工作历史 -->
    <insert id="insertWork" parameterType="pd" >
        insert into lex_work_history(
        app_user_id,
        company_name,
        start_time,
        end_time,
        company_id
        ) values (
        #{app_user_id},
        #{company_name},
        #{start_time},
        #{end_time},
        #{company_id}
        )
    </insert>


    <select id="queryListByPhone" parameterType="pd" resultType="pd">
        select * from lex_app_user
        where phone IN
        <foreach item="item" index="pd.phone" collection="array" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>



    <!--
    <select id="getUserAndRoleById" parameterType="String" resultMap="userAndRoleResultMap">
        select  u.USER_ID,
        u.USERNAME,
        u.NAME,
        u.RIGHTS as USER_RIGHTS,
        u.PASSWORD,
        u.SKIN,
        r.ROLE_ID,
        r.ROLE_NAME,
        r.RIGHTS as ROLE_RIGHTS,
        u.position
        from SYS_USER u
        left join SYS_ROLE r
        on u.ROLE_ID=r.ROLE_ID
        where u.STATUS=0
        and u.USER_ID=#{USER_ID}
    </select>

    <update id="updateLastLogin" parameterType="User">
        update SYS_USER set
        LAST_LOGIN=#{LAST_LOGIN}
        where USER_ID=#{USER_ID}
    </update>
    -->

</mapper>