<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="WeiXinNewsMsgMapper">
	
	<!--表名 -->
	<sql id="tableName">
		t_wxcms_msg_news
	</sql>
	<sql id="tableName2">
		t_wxcms_msg_base
	</sql>
	<!-- 字段 -->
	<sql id="Field">
		T1.TITLE AS TITLE,	
		T1.AUTHOR AS AUTHOR,	
		T1.BRIEF AS BRIEF,	
		T1.DESCRIPTION AS DESCRIPTION,	
		T1.PICPATH AS PICPATH,	
		T1.SHOWPIC AS SHOWPIC,	
		T1.FROMURL AS FROMURL,	
		T1.BASE_ID AS BASE_ID,
		T1.ID AS WEIXINNEWSMSG_ID,
		T1.ORDERNUM AS ORDERNUM,
		T2.INPUTCODE AS INPUTCODE,
		T1.MEDIA_ID AS MEDIA_ID,
		T1.THUMB_MEDIA_ID AS THUMB_MEDIA_ID
	</sql>
	<!-- 字段 -->
	<sql id="Fieldins">
		TITLE,	
		AUTHOR,	
		BRIEF,	
		DESCRIPTION,	
		PICPATH,	
		SHOWPIC,
		URL,
		FROMURL,	
		BASE_ID,
		ORDERNUM,
		MEDIA_ID
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{TITLE},	
		#{AUTHOR},	
		#{BRIEF},	
		#{DESCRIPTION},	
		#{PICPATH},	
		#{SHOWPIC},	
		#{URL},	
		#{FROMURL},	
		#{BASE_ID},	
		#{ORDERNUM},
		#{MEDIA_ID}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Fieldins"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			ID = #{WEIXINNEWSMSG_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			TITLE = #{TITLE},
			AUTHOR = #{AUTHOR},
			BRIEF = #{BRIEF},
			DESCRIPTION = #{DESCRIPTION},
			PICPATH = #{PICPATH},
			SHOWPIC = #{SHOWPIC},
			FROMURL = #{FROMURL},
			BASE_ID = #{BASE_ID},
			ORDERNUM = #{ORDERNUM},
			MEDIA_ID = #{MEDIA_ID},
			THUMB_MEDIA_ID = #{THUMB_MEDIA_ID}
		where 
		ID = #{WEIXINNEWSMSG_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include> T1,
		<include refid="tableName2"></include> T2
		where 
			T1.ID = #{WEIXINNEWSMSG_ID}
		AND
		    T1.BASE_ID = T2.ID
		AND T1.ISSYSTEM=0
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include> T1,
		<include refid="tableName2"></include> T2
		where 1=1 
		AND T1.ISSYSTEM=0
		AND
		    T1.BASE_ID = T2.ID 
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
				<!--	根据需求自己加检索条件
					字段1 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 or 
					字段2 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
				-->
				)
		</if>
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include> T1,
		<include refid="tableName2"></include> T2
		where  T1.BASE_ID = T2.ID 
		AND T1.ISSYSTEM=0
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<!-- fh313596790qq(青苔) -->
</mapper>